<% if (page.comments && theme.comment_provider){ %>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
<%
    var comment_provider = theme.comment_provider;
    var comment_config =theme['comment_'+comment_provider] || ''
%>
<%- partial('comment/'+comment_provider, {"comment_config":comment_config}) %>
</section>
<% } %>